@import url(https://fonts.googleapis.com/css?family=Kranky);
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand);
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Muli);


.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

#navbar {
  font-family: 'Comfortaa';
  font-size: 22px;
  color: #FFFFFF;
  background-color: grey;
  padding: 10px;

}

a {
  font-family: 'Comfortaa';
  font-size: 22px;
  color: white;
  background-color: grey;
}

#cuteness {
  font-family: 'Kranky';
  font-size: 40px;
  color: grey;
  padding: 10px;
}

#bottomrow {
  border-style: dotted;
  border-width: 5px;
  border-color: grey;
}

p {
  font-family: 'Muli';
  font-size: 20px;
  padding: 10px;
  margin-top: 20px
}

img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}


footer {
  margin-top: 20px;
  margin-bottom: 12px;
}
