@import url(https://fonts.googleapis.com/css?family=Kranky);
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand);


.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

#navbar {
  font-family: 'Patrick+Hand';
  font-size: 1.5em;
  color: purple;
}
.page.title {
  font-family: 'Kranky';
  font-size: 3em;
  color: blue;
}
