@import url(https://fonts.googleapis.com/css?family=Kranky);
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand);
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);


.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

#navbar {
  font-family: 'Comfortaa';
  font-size: 2em;
  color: violet;

}
#cuteness {
  font-family: 'Kranky';
  font-size: 6em;
  color: grey;
}

#content {
  font-family: 'Comfortaa';
  font-size: 20px;

}
