<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="container">
  <div id="cuteness">
  <div class="row">
    <div class="col-md-12">
    <h1> {{ page.title }} <small> {{ page.description }} </small></h1>
</div>
</div>
</div>

<div id="navbar">
  <div class="row">
  <div class="col-md-3">
      <a href="about.html">About The Cuteness </a>
    </div>
    <div class="col-md-3">
      <a href="babies.html">Cute Baby Anything</a>
    </div>
    <div class="col-md-3">
      <a href="silly.html">Silly Cuteness</a>
    </div>
    <div class="col-md-3">
      <a href="sources.html">Sources of Cuteness</a>
    </div>
    </div>
</div>
</div>

<div class="container">
  <p>
  {{ content }}
</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
<img src="babynpuppy.png" style="width:200px;height:180px">
</div>
<div class="col-md-3">
  <img src="knitting.png" style="width:200px;height:180px">
</div>
<div class="col-md-3">
  <img src="skate.png" style="width:200px;height:180px">
</div>
<div class="col-md-3">
  <img src="kitten.png" style="width:200px;heigh:180px">
</div>
</div>
</div>

</body>
</html>
