<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="navbar">
  <h1>{{ page.title }} <small> {{ page.description }} </small></h1>
</div>
</div>
  <div class="row">
    <div class="col-md-2">
  {{ content }}
  <img alt="homeimage" src="image.jpg">

</div>
</div>
</div>
</body>
</html>
