<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="container">
  <div class="row">
    <div class="navbar">
      <a href="about.html">About </a>
</div>
  <h1>{{ page.title }} <small> {{ page.description }} </small></h1>
</div>
</div>
  <div class="row">
    <div class="col-sm-2">
  {{ content }}
  <div class="col-sm-3">
  <img alt="homeimage" src="7418920888_fd34f8bd47_o.jpg">
</div>
</div>
</div>
</div>
</body>
</html>
